<header class="header">
  <div class="header__list container">
      <nav class="nav">
          <a href=""><img src="/src/images/header/logo.png" alt="logo"></a>
          <ul class="nav-list">
              <li ><a class="nav-list__link" href="/src/index.html">Home</a></li>
              <li ><a class="nav-list__link" href="/src/favorites.html">Favorite</a></li>
          </ul>
      </nav>

          <div class="search-header">
            <form class="search-form" id="search-form">

              <button type="submit" class="search-header__btn">
                <svg class="search-header__icon" width="20" height="20">
                  <use href="/src/images/header/search.svg#icon-menu"></use>
                </svg>
              </button>
              <input 
              type="text" 
              name="searchQuery"
              autocomplete="off" 
              class="search-header__input" 
              placeholder="Search">
            </form>
            

              <input
              type="text"
              name="searchQuery"
              autocomplete="off"
              class="search-header__input"
              placeholder="Search"></form>


          </div>

          <div class="theme">
              <span class="theme__item">Light</span>
              <button class="theme__btn"><img src="/src/images/header/toggle.png" alt="toogle"></button>
              <span class="theme__item dark">Dark</span>
          </div>

          <button type="button" class="mobile-menu-btn" data-menu-open>
            <svg class="mobile-menu-btn-img" width="30" height="16">
              <use href="/src/images/header/menu.svg#icon-menu"></use>
            </svg>
          </button>
  </div>
</header>
