<div class="container hero">
    <div class="box-title-img">
        <h1 class="title">A party without cocktails is not like a party</h1>
        <div class="container-cocktails">
            <picture>
                <source srcset="images/desktop-hero/cocktails-hero@1x.png 1x, images/desktop-hero/cocktails-hero@2x.png 2x"
                    media="(min-width: 1280px)" />
        
                <source srcset="images/tablet-hero/cocktails-hero@1x.png 1x, images/tablet-hero/cocktails-hero@2x.png 2x"
                    media="(min-width: 768px)" />
        
                <source srcset="images/mobile-hero/cocktails-hero@1x.png 1x, images/mobile-hero/cocktails-hero@2x.png 2x"
                    media="(max-width: 767px)" />
        
                <img class="hero-img" src="images/desktop-hero/cocktails-hero.png" alt="cocktail">
            </picture>
        </div>
        
    </div>
    <div class="box-search-cocktails">
        <p class="favorite-cocktail">Search your favorite cocktail by ABC</p>       
        <div class="dropdown">
            <button class="btn">A
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">A</a>
                <a href="#">B</a>
                <a href="#">C</a>
                <a href="#">D</a>
                <a href="#">E</a>
                <a href="#">F</a>
                <a href="#">G</a>
                <a href="#">H</a>
                <a href="#">I</a>
                <a href="#">J</a>
                <a href="#">K</a>
                <a href="#">L</a>
                <a href="#">M</a>
                <a href="#">N</a>
                <a href="#">O</a>
                <a href="#">P</a>
                <a href="#">Q</a>
                <a href="#">R</a>
                <a href="#">S</a>
                <a href="#">T</a>
                <a href="#">U</a>
                <a href="#">V</a>
                <a href="#">W</a>
                <a href="#">X</a>
                <a href="#">Y</a>
                <a href="#">Z</a>
            </div>
        </div>
        <ul class="list-cocktail">
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">A</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">B</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">C</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">D</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">E</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">F</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">G</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">H</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">I</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">J</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">K</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">L</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">M</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">N</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">O</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">P</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">Q</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">R</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">S</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">T</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">U</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">V</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">W</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">X</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">Y</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">Z</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">1</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">2</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">3</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">4</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">5</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">6</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">7</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">8</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">9</button>
            </li>
            <li class="list-cocktail__item">
                <button class="list-cocktail__btn">0</button>
            </li>
        </ul>
    </div>
</div>