// .search-header {
//   width: 100%;
//   margin: 20px auto;
// }

.header__list{
  padding-top: 20px;
  display: flex;
  align-items: center;
 }

.nav-logo{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;                                                                                                                                    
font-size: 22px;
line-height: 0.9;
letter-spacing: 0.02em;
color: #FD5103;
}

.nav-list__item{
display: flex;
}

.mobile-menu-btn{
  border: none;
  background: none;
}

@media screen and (min-width:320px) {
    .header__list{
      display: flex;
      align-items: center; 
      justify-content: space-between;
    }

}

@media screen and (max-width:767px) {
  .header__list{
    justify-content: none;
  }

  .search-header__btn{
    display: none;
  }
  
  .search-header__input{
      display: none;
  }

  // .input-icon{
  //   display: none;
  // }
}
@media screen and (min-width:768px){
  .search-header{
    position: relative;
  }

  .search-header__btn{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 55%;
    border: 1px solid #FD5103;
    border-radius: 4px 0px 0px 4px;
    background: none;
  }
  
  .search-header__input{
    width: 248px;
    height: 40px;
    left: 640px;
    top: 1.5px; 
    border: 1px solid #FD5103;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: none;
    margin-right: 30px;
    margin-left: 190px;
    padding-left: 23px;
    outline: none;
    padding-left: 30px;
  }

  .search-header__input::placeholder{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02em;
    color: #5F6775;
    opacity: 0.4;
  }
    .input-icon img {
      display: block;
      margin-left: 4px;
    }

}
@media screen and (max-width:1279px){
  .nav-list{
      display: none;
  }

  .theme{
      display: none;
  }
}

@media screen and (min-width:1280px){
  .mobile-menu-btn{
      display: none;
  }
  .mobile-menu-btn-img{
      display: none;
  }

  .nav{
      display: flex;
  }

  .nav-list{
      display: flex;
      align-items: flex-end;
      column-gap: 60px;
      margin-left: 43px;
  }
  
  .nav-list__link{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 0.75;
      letter-spacing: 0.02em;        
      color: #202025;
  }

  .search-header__input{
    margin-right: 0;
  }

  .theme{
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-left: 172px;
  
  &__item{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FD5103;
    }

  &__btn{
    border: none;
    background: none;
  }
  }
.dark{
  color: #5F6775;
}
.search-header__input {
  padding-left: 15px;
}

}